.communication {
  width: 60%;
  min-height: 460px;
  margin: 20px auto;
  background-color: rgba(34, 34, 34, 0.6);
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}

/* список диалогов */
.communication__users {
  width: 40%;
  border-right: 1px solid rgb(66 66 66);
  padding: 20px;
}
.communication__user {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 10px;
}
.communication__user:hover {
  background-color: rgba(34, 34, 34, 1);
}
.communication__user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.communication__user-box {
  margin-left: 10px;
  border-bottom: 1px solid rgb(66 66 66);
  height: 100%;
  width: 78%;
}
.communication__user-box h3 {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #e1e3e6;
}
.communication__user-box p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  margin-top: 15px;
  color: #939393;
}
/* окно диалога */
.communication__tolk {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.communication__tolk-header {
  border-bottom: 1px solid rgb(66 66 66);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}
.communication__tolk-header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
}
.communication__tolk-header h2 {
  font-size: 18px;
  font-weight: 400;
}
.communication__tolk-desk {
  margin-bottom: 20px;
}
.communication__tolk-item {
  display: flex;
  width: 80%;
  margin: 20px auto 0;
}
.communication__tolk-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.communication__tolk-item__user-box {
  margin-left: 20px;
}
.communication__tolk-item__user-box div {
  display: flex;
}
.communication__tolk-item__user-box div span {
  font-size: 12px;
  color: #939393;
  margin-left: 10px;
}
.communication__tolk-item__user-box div h3 {
  font-size: 12px;
  color: #38b6ff;
}
.communication__tolk-item__user-box p {
  margin-top: 8px;
  font-size: 14px;
}
.communication__new-massage {
  background-color: #292929;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.communication__new-massage input {
  background-color: initial;
  width: 80%;
  height: 30px;
  border: 1px solid #555555;
  border-radius: 6px;
  padding-left: 10px;
}
.communication__new-massage input:focus {
  outline: none;
}
.communication__new-massage input::placeholder {
  color: #ababab;
}
.communication__new-massage img {
  position: absolute;
  width: 20px;
  right: 18%;
  cursor: pointer;
}
.communication__new-massage img:last-of-type {
  right: 12%;
}
