.container {
  width: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  border-radius: 15px;
  padding: 20px;
  position: relative;
  border: 1px solid rgb(66 66 66);
}

.newPostBlock {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.newPostBlock textarea {
  width: 100%;
  background-color: initial;
  border: none;
  margin: 12px 10px 0;
  resize: none;
  overflow: auto;
}
.newPostBlock textarea:focus {
  outline: none;
}
.newPostBlockActive {
  margin-bottom: 50px;
}
.reset {
  width: 20px;
  cursor: pointer;
}
.reset:hover {
  rotate: -15deg;
}
.buttons {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.buttons img:first-of-type {
  width: 20px;
  cursor: pointer;
}
.buttons img:last-of-type {
  width: 20px;
  cursor: pointer;
}
.buttons label {
  height: 20px;
}
.submitBtn {
  width: 120px;
  height: 30px;
  border-radius: 8px;
  background-color: #e1e3e6;
  border: none;
  color: #222222;
  cursor: pointer;
  margin-left: 10px;
}
.postImage {
  width: inherit;
  margin: 10px 0 60px;
}
