.newPostBlock {
  width: 100%;
  height: 60px;
  background-color: rgba(34, 34, 34, 0.6);
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
}

.newPostBlock textarea {
  width: 100%;
  height: 1rem;
  background-color: initial;
  border: none;
  margin: 12px 10px;
  resize: none;
  overflow: hidden;
}
.newPostBlock textarea:focus {
  outline: none;
  min-height: 80px;
  height: 80%;
  overflow: visible;
}
.newPostBlock:focus-within {
  height: 200px;
}
.newPostBlock img:nth-of-type(2) {
  width: 20px;
  margin: 10px 10px 0 0;
  cursor: pointer;
  display: none;
}
.newPostBlock:focus-within img:nth-of-type(2) {
  display: block;
}
.newPostBlock img:last-of-type {
  width: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.newPostBlock button {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  background-color: #e1e3e6;
  border: none;
  color: #222222;
}
.newPostBlock:focus-within button {
  display: block;
}
