.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 30px;
  text-align: center;
  width: 400px;
}

.form-wrapper h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.input-group input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
}

.input-group button {
  background-color: #5181b8;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.bottom-text {
  margin-top: 20px;
}

.bottom-text a {
  color: #5181b8;
  font-size: 14px;
  text-decoration: none;
}

.bottom-text span {
  margin: 0 10px;
}
