.newMassage {
  background-color: #292929;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.newMassage input {
  background-color: initial;
  width: 80%;
  height: 30px;
  border: 1px solid #555555;
  border-radius: 6px;
  padding-left: 10px;
}
.newMassage input:focus {
  outline: none;
}
.newMassage input::placeholder {
  color: #ababab;
}
.newMassage img {
  position: absolute;
  width: 20px;
  right: 18%;
  cursor: pointer;
}
.newMassage img:last-of-type {
  right: 12%;
}
