.post {
  width: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid rgb(66 66 66);
}
.header {
  display: flex;
  align-items: center;
  position: relative;
}
.header img:last-of-type {
  width: 20px;
  position: absolute;
  right: 0px;
  top: 0;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.post:hover .header img:last-of-type {
  visibility: visible;
  opacity: 1;
}
.header img:last-of-type:hover {
  rotate: -15deg;
}
.info {
  margin-left: 10px;
}
.info p:first-of-type {
  font-size: 13px;
  color: #38b6ff;
  cursor: pointer;
}
.info p:last-of-type {
  font-size: 13px;
  color: #828282;
  margin-top: 5px;
  cursor: pointer;
}
.text {
  margin: 20px 0;
  font-size: 13px;
  line-height: 1.4;
}
